#command {
  // box-shadow: 12px 12px 16px 12px rgba(69, 91, 99, 0.1) !important;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  .command-form {
    width: 65%;
  }
  .command-added {
    width: 35%;
    padding: 20px;
  }
}

@media (min-width: 801px) {
  #command {
    .command-form {
      .command-list {
        .nav-pills {
          background-color: transparent !important;
          max-height: 80vh;
          overflow-y: auto;
          flex-direction: column;
          flex-wrap: nowrap;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  #command {
    .command-form {
      order: 3;
      width: 100%;
      .command-list {
        background-color: transparent !important;
        .nav-pills {
          flex-direction: row !important;
          flex-wrap: nowrap;
          overflow-x: auto;
        }
      }
    }
    .command-added {
      order: 1;
      width: 100%;
    }
  }
  .responsive-tab {
    .nav-pills {
      flex-direction: row !important;
      flex-wrap: nowrap;
    }
  }
}
