@import "./frameworks/bootstrap";
@import "./map";
@import "./sidebar";
@import "./container";

body {
  min-height: 100vh;
}

.full-height {
  max-height: 100vh;
  overflow-y: auto;
  min-height: 100vh;
}

.cursor-pointer {
  cursor: pointer;
}

body {
  // background-color: #ecebeb;
}
